My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "2e9bb0f4-70a7-4429-be81-f9e5c65e7410",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.marktechpost.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        0
      ],
      "id": "6bfce796-5e8f-471f-8b75-a29d8b6ab3bc",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://bair.berkeley.edu/blog/feed.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        304,
        192
      ],
      "id": "cb712516-50db-4d35-b304-c3b8c9e6d2d4",
      "name": "RSS Read1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        0
      ],
      "id": "5dbdc6e0-2884-41c3-af19-40c64c45f862",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "1978d9e6-bb6e-470f-8c51-9a37d95d9b52",
      "name": "Limit"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "427f06fa-b4fa-4c83-9127-5a03e9668afd",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI news editor.\n\nCreate a Slack message in this format:\n\n🤖 *Weekly AI News Digest*\n\n• *Title*\n  Summary in one sentence.\n  <article_url>\n\nRepeat for the top 5 stories.\n\nKeep the message under 500 words.",
        "messages": {
          "messageValues": [
            {
              "message": "="
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1248,
        0
      ],
      "id": "b599edb5-43ec-444e-bd24-74223b975b9f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1456,
        0
      ],
      "id": "e318cabc-9bb6-43d8-ac15-6c2f50cf96a9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XbIddtRcFpo4px3M",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BJH0TBV7B",
          "mode": "list",
          "cachedResultName": "all-fokus"
        },
        "text": "=={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1632,
        0
      ],
      "id": "c85c5ed1-cacd-4bcc-ba0d-e385b4d28a0e",
      "name": "Send a message",
      "webhookId": "8ad5e9e5-9a2c-49f8-8113-2f54bbbf3399",
      "credentials": {
        "slackOAuth2Api": {
          "id": "zBdVU8wfKFvonMu8",
          "name": "Slack account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b414ddf1-32f4-47d4-b143-88721af9a4a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df099ea101b12a6cb7fea2b6d2ac65f011d289e4c7343bf64aceb65c8fb252aa"
  },
  "nodeGroups": [],
  "id": "axJCMcyIKTIQyQSx",
  "tags": []
}